# Copyright 2024 Louis Royer. All rights reserved.
# Use of this source code is governed by a MIT-style license that can be
# found in the LICENSE file.
# SPDX-License-Identifier: MIT
config:
  topology:
    nb_edges: 2
    nb_ue: 1
    nb_gnb: 1
    ran:
      version: "stable" # ( stable | dev )
      dev_build_path: ../../ueransim/build # relative to the root of the testbed, not to the testbed build directory
      handover: false
    dataplane: # ( nextmn-srv6 | free5gc | nextmn-upf)
      - "nextmn-srv6"
    controlplane: "free5gc" # ( free5gc | nextmn-lite )
    log_level: "info"
    full_debug: false

subnets:
  ran:
    gnb1:
      ipv4_address: 10.1.0.129
      ipv6_address: fd00:0:0:0:1:8000:0:2
    gnb2:
      ipv4_address: 10.1.0.130
      ipv6_address: fd00:0:0:0:1:8000:0:3
    uel1:
      ipv4_address: 10.1.0.131
      ipv6_address: fd00:0:0:0:1:8000:0:4
    gnbl1:
      ipv4_address: 10.1.0.132
      ipv6_address: fd00:0:0:0:1:8000:0:5
    gnbl2:
      ipv4_address: 10.1.0.133
      ipv6_address: fd00:0:0:0:1:8000:0:6
    gnbl3:
      ipv4_address: 10.1.0.139
      ipv6_address: fd00:0:0:0:1:8000:0:c
    uel2:
      ipv4_address: 10.1.0.134
      ipv6_address: fd00:0:0:0:1:8000:0:7
    uel3:
      ipv4_address: 10.1.0.135
      ipv6_address: fd00:0:0:0:1:8000:0:8
    uel4:
      ipv4_address: 10.1.0.136
      ipv6_address: fd00:0:0:0:1:8000:0:9
    uel5:
      ipv4_address: 10.1.0.137
      ipv6_address: fd00:0:0:0:1:8000:0:a
    uel6:
      ipv4_address: 10.1.0.138
      ipv6_address: fd00:0:0:0:1:8000:0:b
  sbi:
    amf:
      ipv4_address: 10.1.1.129
    smf:
      ipv4_address: 10.1.1.130
    nrf:
      ipv4_address: 10.1.1.131
    ausf:
      ipv4_address: 10.1.1.132
    nssf:
      ipv4_address: 10.1.1.133
    pcf:
      ipv4_address: 10.1.1.134
    udm:
      ipv4_address: 10.1.1.135
    udr:
      ipv4_address: 10.1.1.136
    chf:
      ipv4_address: 10.1.1.137
    webconsole:
      ipv4_address: 10.1.1.138
  control:
    gnb1:
      ipv4_address: 10.1.3.129
    gnb2:
      ipv4_address: 10.1.3.130
    srgw0:
      ipv4_address: 10.1.3.131
      ipv6_address: fd00:0:0:0:2:8000:0:2
    srgw1:
      ipv4_address: 10.1.3.151
      ipv6_address: fd00:0:0:0:2:8000:0:11
    srv6-ctrl:
      ipv4_address: 10.1.3.132
      ipv6_address: fd00:0:0:0:2:8000:0:6
    r0:
      ipv6_address: fd00:0:0:0:2:8000:0:4
    r1:
      ipv6_address: fd00:0:0:0:2:8000:0:5
    r2:
      ipv6_address: fd00:0:0:0:2:8000:0:12
    amf:
      ipv4_address: 10.1.3.133
    smf:
      ipv4_address: 10.1.3.134
    upfi1-f5gc:
      ipv4_address: 10.1.3.135
    upfi2-f5gc:
      ipv4_address: 10.1.3.152
    upfa1-f5gc:
      ipv4_address: 10.1.3.136
    upfa2-f5gc:
      ipv4_address: 10.1.3.137
    upfa3-f5gc:
      ipv4_address: 10.1.3.153
    upfi1-nmn:
      ipv4_address: 10.1.3.138
    upfi2-nmn:
      ipv4_address: 10.1.3.154
    upfa1-nmn:
      ipv4_address: 10.1.3.139
    upfa2-nmn:
      ipv4_address: 10.1.3.140
    upfa3-nmn:
      ipv4_address: 10.1.3.155
    gnbl1:
      ipv4_address: 10.1.3.141
      ipv6_address: fd00:0:0:0:2:8000:0:7
    gnbl2:
      ipv4_address: 10.1.3.142
      ipv6_address: fd00:0:0:0:2:8000:0:8
    gnbl3:
      ipv4_address: 10.1.3.150
      ipv6_address: fd00:0:0:0:2:8000:0:10
    uel1:
      ipv4_address: 10.1.3.143
      ipv6_address: fd00:0:0:0:2:8000:0:9
    cp-lite:
      ipv4_address: 10.1.3.144
      ipv6_address: fd00:0:0:0:2:8000:0:a
    uel2:
      ipv4_address: 10.1.3.145
      ipv6_address: fd00:0:0:0:2:8000:0:b
    uel3:
      ipv4_address: 10.1.3.146
      ipv6_address: fd00:0:0:0:2:8000:0:c
    uel4:
      ipv4_address: 10.1.3.147
      ipv6_address: fd00:0:0:0:2:8000:0:d
    uel5:
      ipv4_address: 10.1.3.148
      ipv6_address: fd00:0:0:0:2:8000:0:e
    uel6:
      ipv4_address: 10.1.3.149
      ipv6_address: fd00:0:0:0:2:8000:0:f
  dataplane:
    gnb1:
      ipv4_address: 10.1.4.129
    gnb2:
      ipv4_address: 10.1.4.130
    srgw0:
      ipv4_address: 10.1.4.131
      ipv6_address: fd00:0:0:0:3:8000:0:2
    srgw1:
      ipv4_address: 10.1.4.141
      ipv6_address: fd00:0:0:0:3:8000:0:5
    r0:
      ipv6_address: fd00:0:0:0:3:8000:0:3
    r1:
      ipv6_address: fd00:0:0:0:3:8000:0:4
    r2:
      ipv6_address: fd00:0:0:0:3:8000:0:6
    upfi1-f5gc:
      ipv4_address: 10.1.4.132
    upfi2-f5gc:
      ipv4_address: 10.1.4.142
    upfa1-f5gc:
      ipv4_address: 10.1.4.133
    upfa2-f5gc:
      ipv4_address: 10.1.4.134
    upfa3-f5gc:
      ipv4_address: 10.1.4.143
    upfi1-nmn:
      ipv4_address: 10.1.4.135
    upfi2-nmn:
      ipv4_address: 10.1.4.144
    upfa1-nmn:
      ipv4_address: 10.1.4.136
    upfa2-nmn:
      ipv4_address: 10.1.4.137
    upfa3-nmn:
      ipv4_address: 10.1.4.145
    gnbl1:
      ipv4_address: 10.1.4.138
    gnbl2:
      ipv4_address: 10.1.4.139
    gnbl3:
      ipv4_address: 10.1.4.140
  edge:
    r0:
      ipv4_address: 10.1.5.129
    r1:
      ipv4_address: 10.1.5.130
    r2:
      ipv4_address: 10.1.5.137
    s0:
      ipv4_address: 10.1.5.131
    s1:
      ipv4_address: 10.1.5.132
    s2:
      ipv4_address: 10.1.5.138
    upfa1-f5gc:
      ipv4_address: 10.1.5.133
    upfa2-f5gc:
      ipv4_address: 10.1.5.134
    upfa3-f5gc:
      ipv4_address: 10.1.5.139
    upfa1-nmn:
      ipv4_address: 10.1.5.135
    upfa2-nmn:
      ipv4_address: 10.1.5.136
    upfa3-nmn:
      ipv4_address: 10.1.5.140
  service:
    s:
      ipv4_address: 10.4.0.1
    nots:
      ipv4_address: 10.4.0.2
  slice0:
    subnet:
      ipv4_address: 10.2.0.0/24
  slice0-static:
    subnet:
      ipv4_address: 10.2.0.128/25
  slice1:
    subnet:
      ipv4_address: 10.2.1.0/24
  slice1-e1:
    subnet:
      ipv4_address: 10.2.1.0/26
  slice1-e1-static:
    subnet:
      ipv4_address: 10.2.1.64/26
  slice1-e2:
    subnet:
      ipv4_address: 10.2.1.128/26
  slice1-e2-static:
    subnet:
      ipv4_address: 10.2.1.192/26
  slice2:
    subnet:
      ipv4_address: 10.2.2.0/24
  slice2-e1:
    subnet:
      ipv4_address: 10.2.2.0/26
  slice2-e1-static:
    subnet:
      ipv4_address: 10.2.2.64/26
  slice2-e2:
    subnet:
      ipv4_address: 10.2.2.128/26
  slice2-e2-static:
    subnet:
      ipv4_address: 10.2.2.192/26
  srgw0:
    subnet:
      ipv6_address: fc00:1::/32
    srgw0:
      ipv4_address: 10.3.0.1
    end-m-gtp4-e:
      ipv6_prefix: fc00:1:1::/48
  srgw1:
    subnet:
      ipv6_address: fc00:4::/32
    srgw1:
      ipv4_address: 10.3.0.2
    end-m-gtp4-e:
      ipv6_prefix: fc00:4:1::/48
  r0:
    subnet:
      ipv6_address: fc00:2::/32
    end-dx4:
      ipv6_address: "fc00:2:1::"
      ipv6_prefix: fc00:2:1::/48
  r1:
    subnet:
      ipv6_address: fc00:3::/32
    end-dx4:
      ipv6_address: "fc00:3:1::"
      ipv6_prefix: fc00:3:1::/48
  r2:
    subnet:
      ipv6_address: fc00:5::/32
    end-dx4:
      ipv6_address: "fc00:5:1::"
      ipv6_prefix: fc00:5:1::/48
