# Copyright 2024 Louis Royer. All rights reserved.
# Use of this source code is governed by a MIT-style license that can be
# found in the LICENSE file.
# SPDX-License-Identifier: MIT

server {
	listen 80;
	listen [::]:${NGINX_PORT};
	server_name ${NGINX_SERVICE_ID};
	location / {
		return 200 'Service ID: ${NGINX_SERVICE_ID}\nInstance ID: ${NGINX_INSTANCE_ID}\n';
		add_header Content-Type text/plain;
	}
}
