# Copyright 2024 Louis Royer. All rights reserved.
# Use of this source code is governed by a MIT-style license that can be
# found in the LICENSE file.
# SPDX-License-Identifier: MIT
name: "nextmn-testbed"

services:
  {{ container_s(name='ue1', image='louisroyer/ueransim-ue', enable_ipv6=True, debug=True, iface_tun=True, cap_net_admin=True, init=True) }}
    environment:
      MSISDN: "0000000001"
      GNBS: |-
        - "{{ ipv6('gnb1', 'ran') }}"
      CONFIGURED_NSSAI: |-
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
        - sst: 1
          sd: 000001
#~ elif config["topology"]["dataplane"] == "free5gc"
        - sst: 1
          sd: 000002
#~ elif config["topology"]["dataplane"] == "nextmn-upf"
        - sst: 1
          sd: 000003
#~ endif
      DEFAULT_NSSAI: |-
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
        - sst: 1
          sd: 000001
#~ elif config["topology"]["dataplane"] == "free5gc"
        - sst: 1
          sd: 000002
#~ elif config["topology"]["dataplane"] == "nextmn-upf"
        - sst: 1
          sd: 000003
#~ endif
      SESSIONS: |-
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
        - type: "IPv4"
          apn: "srv6"
          slice:
            sst: 1
            sd: 000001
#~ elif config["topology"]["dataplane"] == "free5gc"
        - type: "IPv4"
          apn: "free5gc"
          slice:
            sst: 1
            sd: 000002
#~ elif config["topology"]["dataplane"] == "nextmn-upf"
        - type: "IPv4"
          apn: "nextmn-upf"
          slice:
            sst: 1
            sd: 000003
#~ endif
    networks:
      ran: # automatic allocation by docker compose

#~ if config["topology"]["nb_ue"] > 1
  {{ container_s(name='ue2', image='louisroyer/ueransim-ue', enable_ipv6=True, debug=True, iface_tun=True, cap_net_admin=True, init=True) }}
    environment:
      MSISDN: "0000000002"
      GNBS: |-
        - "{{ ipv6('gnb2', 'ran') }}"
      CONFIGURED_NSSAI: |-
  #~ if config["topology"]["dataplane"] == "nextmn-srv6"
        - sst: 1
          sd: 000001
  #~ elif config["topology"]["dataplane"] == "free5gc"
        - sst: 1
          sd: 000002
  #~ elif config["topology"]["dataplane"] == "nextmn-upf"
        - sst: 1
          sd: 000003
  #~ endif
      DEFAULT_NSSAI: |-
  #~ if config["topology"]["dataplane"] == "nextmn-srv6"
        - sst: 1
          sd: 000001
  #~ elif config["topology"]["dataplane"] == "free5gc"
        - sst: 1
          sd: 000002
  #~ elif config["topology"]["dataplane"] == "nextmn-upf"
        - sst: 1
          sd: 000003
  #~ endif
      SESSIONS: |-
  #~ if config["topology"]["dataplane"] == "nextmn-srv6"
        - type: "IPv4"
          apn: "srv6"
          slice:
            sst: 1
            sd: 000001
  #~ elif config["topology"]["dataplane"] == "free5gc"
        - type: "IPv4"
          apn: "free5gc"
          slice:
            sst: 1
            sd: 000002
  #~ elif config["topology"]["dataplane"] == "nextmn-upf"
        - type: "IPv4"
          apn: "nextmn-upf"
          slice:
            sst: 1
            sd: 000003
  #~ endif
    networks:
      ran: # automatic allocation by docker compose
#~ endif

  {{ container_s(name='gnb1', image='louisroyer/ueransim-gnb', enable_ipv6=True, restart='always', iface_tun=True, cap_net_admin=True, debug=True) }}
    depends_on:
      amf:
        condition: service_started
    environment:
      NCI: 000000001
      RLS_IP: "{{ ipv6('gnb1', 'ran') }}"
      N2_IP: "{{ ipv4('gnb1', 'control') }}"
      N3_IP: "{{ ipv4('gnb1', 'dataplane') }}"
      SUPPORTED_NSSAIS: |-
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
        - sst: 1
          sd: 000001
#~ elif config["topology"]["dataplane"] == "free5gc"
        - sst: 1
          sd: 000002
#~ elif config["topology"]["dataplane"] == "nextmn-upf"
        - sst: 1
          sd: 000003
#~ endif
      MCC: "001"
      MNC: "01"
      ID_LEN: 32
      TAC: 1
      AMF_CONFIGS: |-
        - address: "{{ ipv4('amf', 'control') }}"
          port: 38412
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
      ROUTES_INIT: |-
        - add {{ ipv4('srgw0', 'srgw0') }} via {{ ipv4('srgw0', 'dataplane') }}
#~ endif
    networks:
      ran:
        ipv4_address: "{{ ipv4('gnb1', 'ran') }}"
        ipv6_address: "{{ ipv6('gnb1', 'ran') }}"
      control:
        ipv4_address: "{{ ipv4('gnb1', 'control') }}"
      dataplane:
        ipv4_address: "{{ ipv4('gnb1', 'dataplane') }}"

#~ if config["topology"]["nb_ue"] > 1
  {{ container_s(name='gnb2', image='louisroyer/ueransim-gnb', enable_ipv6=True, restart='always', iface_tun=True, cap_net_admin=True, debug=True) }}
    depends_on:
      amf:
        condition: service_started
    environment:
      NCI: 000000002
      RLS_IP: "{{ ipv6('gnb2', 'ran') }}"
      N2_IP: "{{ ipv4('gnb2', 'control') }}"
      N3_IP: "{{ ipv4('gnb2', 'dataplane') }}"
      SUPPORTED_NSSAIS: |-
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
        - sst: 1
          sd: 000001
#~ elif config["topology"]["dataplane"] == "free5gc"
        - sst: 1
          sd: 000002
#~ elif config["topology"]["dataplane"] == "nextmn-upf"
        - sst: 1
          sd: 000003
#~ endif
      MCC: "001"
      MNC: "01"
      ID_LEN: 32
      TAC: 1
      AMF_CONFIGS: |-
        - address: "{{ ipv4('amf', 'control') }}"
          port: 38412
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
      ROUTES_INIT: |-
        - add {{ ipv4('srgw0', 'srgw0') }} via {{ ipv4('srgw0', 'dataplane') }}
#~ endif
    networks:
      ran:
        ipv4_address: "{{ ipv4('gnb2', 'ran') }}"
        ipv6_address: "{{ ipv6('gnb2', 'ran') }}"
      control:
        ipv4_address: "{{ ipv4('gnb2', 'control') }}"
      dataplane:
        ipv4_address: "{{ ipv4('gnb2', 'dataplane') }}"
#~ endif

  {{ container_s(name='amf', image='louisroyer/dev-free5gc-amf', restart='always') }}
    depends_on:
      nrf: # required to being able to deregister propertly
        condition: service_started
    environment:
      N2: "{{ ipv4('amf', 'control') }}"
      SBI_REGISTER_IP: "amf.sbi"
      SBI_BINDING_IP: "{{ ipv4('amf', 'sbi') }}"
      SBI_BINDING_PORT: "8000"
      MCC: "001"
      MNC: "01"
      NRF: "nrf.sbi:8000"
      NRF_PEM: "{{ openssl_secret_pem('nrf', 'sbi') }}"
      AMF_PEM: "{{ openssl_secret_pem('amf', 'sbi') }}"
      AMF_KEY: "{{ openssl_secret_key('amf', 'sbi') }}"
      SUPPORT_DNN_LIST: |-
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
        - srv6
#~ elif config["topology"]["dataplane"] == "free5gc"
        - free5gc
#~ elif config["topology"]["dataplane"] == "nextmn-upf"
        - nextmn-upf
#~ endif
      SNSSAI_LIST: |-
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
        - sst: 1
          sd: 000001
#~ elif config["topology"]["dataplane"] == "free5gc"
        - sst: 1
          sd: 000002
#~ elif config["topology"]["dataplane"] == "nextmn-upf"
        - sst: 1
          sd: 000003
#~ endif
      TAC: "000001"
    secrets:
      {{ openssl_secrets_pem_s('nrf', 'sbi') | indent(2) }}
      {{ openssl_secrets_s('amf', 'sbi') | indent(2) }}
    networks:
      control:
        ipv4_address: "{{ ipv4('amf', 'control') }}"
      sbi:
        ipv4_address: "{{ ipv4('amf', 'sbi') }}"

  {{ container_s(name='mongodb', image='mongo', restart='always', command='mongod --port 27017 --bind_ip_all') }}
    networks:
      db:

  {{ container_s(name='nrf', image='louisroyer/dev-free5gc-nrf', restart='always') }}
    depends_on:
      mongodb: # required to being able to deregister propertly
        condition: service_started
    environment:
      MONGO_HOST: "mongodb.db"
      SBI_REGISTER_IP: "nrf.sbi"
      SBI_BINDING_IP: "{{ ipv4('nrf', 'sbi') }}"
      SBI_BINDING_PORT: "8000"
      MCC: "001"
      MNC: "01"
      NRF_PEM: "{{ openssl_secret_pem('nrf', 'sbi') }}"
      NRF_KEY: "{{ openssl_secret_key('nrf', 'sbi') }}"
    secrets:
      {{ openssl_secrets_s('nrf', 'sbi') | indent(2) }}
    networks:
      db:
      sbi:
        ipv4_address: "{{ ipv4('nrf', 'sbi') }}"

  {{ container_s(name='ausf', image='louisroyer/dev-free5gc-ausf', restart='always') }}
    depends_on:
      nrf: # required to being able to deregister propertly
        condition: service_started
    environment:
      SBI_REGISTER_IP: "ausf.sbi"
      SBI_BINDING_IP: "{{ ipv4('ausf', 'sbi') }}"
      SBI_BINDING_PORT: "8000"
      MCC: "001"
      MNC: "01"
      NRF: "nrf.sbi:8000"
      NRF_PEM: "{{ openssl_secret_pem('nrf', 'sbi') }}"
      AUSF_PEM: "{{ openssl_secret_pem('ausf', 'sbi') }}"
      AUSF_KEY: "{{ openssl_secret_key('ausf', 'sbi') }}"
    networks:
      sbi:
        ipv4_address: "{{ ipv4('ausf', 'sbi') }}"

  {{ container_s(name='udm', image='louisroyer/dev-free5gc-udm', restart='always') }}
    depends_on:
      nrf: # required to being able to deregister propertly
        condition: service_started
    environment:
      SBI_REGISTER_IP: "udm.sbi"
      SBI_BINDING_IP: "{{ ipv4('udm', 'sbi') }}"
      SBI_BINDING_PORT: "8000"
      NRF: "nrf.sbi:8000"
      NRF_PEM: "{{ openssl_secret_pem('nrf', 'sbi') }}"
      UDM_PEM: "{{ openssl_secret_pem('udm', 'sbi') }}"
      UDM_KEY: "{{ openssl_secret_key('udm', 'sbi') }}"
    secrets:
      {{ openssl_secrets_pem_s('nrf', 'sbi') | indent(2) }}
      {{ openssl_secrets_s('udm', 'sbi') | indent(2) }}
    networks:
      sbi:
        ipv4_address: "{{ ipv4('udm', 'sbi') }}"

  {{ container_s(name='udr', image='louisroyer/dev-free5gc-udr', restart='always') }}
    depends_on:
      nrf: # required to being able to deregister propertly
        condition: service_started
    environment:
      MONGO_HOST: "mongodb.db"
      SBI_REGISTER_IP: "udr.sbi"
      SBI_BINDING_IP: "{{ ipv4('udr', 'sbi') }}"
      SBI_BINDING_PORT: "8000"
      NRF: "nrf.sbi:8000"
      NRF_PEM: "{{ openssl_secret_pem('nrf', 'sbi') }}"
      UDR_PEM: "{{ openssl_secret_pem('udr', 'sbi') }}"
      UDR_KEY: "{{ openssl_secret_key('udr', 'sbi') }}"
    secrets:
      {{ openssl_secrets_pem_s('nrf', 'sbi') | indent(2) }}
      {{ openssl_secrets_s('udr', 'sbi') | indent(2) }}
    networks:
      db:
      sbi:
        ipv4_address: "{{ ipv4('udr', 'sbi') }}"

  {{ container_s(name='pcf', image='louisroyer/dev-free5gc-pcf', restart='always') }}
    depends_on:
      nrf: # required to being able to deregister propertly
        condition: service_started
    environment:
      MONGO_HOST: "mongodb.db"
      SBI_REGISTER_IP: "pcf.sbi"
      SBI_BINDING_IP: "{{ ipv4('pcf', 'sbi') }}"
      SBI_BINDING_PORT: "8000"
      NRF: "nrf.sbi:8000"
      NRF_PEM: "{{ openssl_secret_pem('nrf', 'sbi') }}"
      PCF_PEM: "{{ openssl_secret_pem('pcf', 'sbi') }}"
      PCF_KEY: "{{ openssl_secret_key('pcf', 'sbi') }}"
    secrets:
      {{ openssl_secrets_pem_s('nrf', 'sbi') | indent(2) }}
      {{ openssl_secrets_s('pcf', 'sbi') | indent(2) }}
    networks:
      db:
      sbi:
        ipv4_address: "{{ ipv4('pcf', 'sbi') }}"

  {{ container_s(name='chf', image='louisroyer/dev-free5gc-chf', restart='always') }}
    depends_on:
      nrf: # required to being able to deregister propertly
        condition: service_started
      webconsole:
        condition: service_started
    environment:
      MONGO_HOST: "mongodb.db"
      SBI_REGISTER_IP: "chf.sbi"
      SBI_BINDING_IP: "{{ ipv4('chf', 'sbi') }}"
      SBI_BINDING_PORT: "8000"
      NRF: "nrf.sbi:8000"
      NRF_PEM: "{{ openssl_secret_pem('nrf', 'sbi') }}"
      BILLING_IP: "{{ ipv4('webconsole', 'sbi') }}"
      BILLING_ENABLE: "false"
      CHF_PEM: "{{ openssl_secret_pem('chf', 'sbi') }}"
      CHF_KEY: "{{ openssl_secret_key('chf', 'sbi') }}"
    secrets:
      {{ openssl_secrets_pem_s('nrf', 'sbi') | indent(2) }}
      {{ openssl_secrets_s('chf', 'sbi') | indent(2) }}
    networks:
      db:
      sbi:
        ipv4_address: "{{ ipv4('chf', 'sbi') }}"

  {{ container_s(name='webconsole', image='louisroyer/dev-free5gc-webconsole', restart='always') }}
    depends_on:
      nrf: # required to being able to deregister propertly
        condition: service_started
    environment:
      MONGO_HOST: "mongodb.db"
      NRF: "nrf.sbi:8000"
      NRF_PEM: "{{ openssl_secret_pem('nrf', 'sbi') }}"
      BILLING_IP: "{{ ipv4('webconsole', 'sbi') }}"
      CHF_PEM: "{{ openssl_secret_pem('chf', 'sbi') }}"
      CHF_KEY: "{{ openssl_secret_key('chf', 'sbi') }}"
    secrets:
      {{ openssl_secrets_pem_s('nrf', 'sbi') | indent(2) }}
      {{ openssl_secrets_s('chf', 'sbi') | indent(2) }}
    networks:
      db:
      sbi:
        ipv4_address: "{{ ipv4('webconsole', 'sbi') }}"

  {{ container_s(name='smf', image='louisroyer/dev-free5gc-smf', restart='always') }}
    depends_on:
      nrf: # required to being able to deregister propertly
        condition: service_started
    environment:
      SBI_REGISTER_IP: "smf.sbi"
      SBI_BINDING_IP: "{{ ipv4('smf', 'sbi') }}"
      SBI_BINDING_PORT: "8000"
      NRF: "nrf.sbi:8000"
      NRF_PEM: "{{ openssl_secret_pem('nrf', 'sbi') }}"
      SMF_PEM: "{{ openssl_secret_pem('smf', 'sbi') }}"
      SMF_KEY: "{{ openssl_secret_key('smf', 'sbi') }}"
      N4: "{{ ipv4('smf', 'control') }}"
      MCC: "001"
      MNC: "01"
      SNSSAI_INFOS: |-
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
        - sNssai:
            sst: 1
            sd: 000001
          dnnInfos:
            - dnn: srv6
              dns:
                ipv4: 9.9.9.9 # TODO: replace with local dns
                ipv6: 2620:fe::fe
#~ elif config["topology"]["dataplane"] == "free5gc"
        - sNssai:
            sst: 1
            sd: 000002
          dnnInfos:
            - dnn: free5gc
              dns:
                ipv4: 9.9.9.9 # TODO: replace with local dns
                ipv6: 2620:fe::fe
#~ elif config["topology"]["dataplane"] == "nextmn-upf"
        - sNssai:
            sst: 1
            sd: 000003
          dnnInfos:
            - dnn: nextmn-upf
              dns:
                ipv4: 9.9.9.9 # TODO: replace with local dns
                ipv6: 2620:fe::fe
#~ endif
      UP_NODES: |-
        GNB:
          type: AN
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
        UPF:
          type: UPF
          nodeID: "{{ ipv4('srv6-ctrl', 'control') }}"
          addr: "{{ ipv4('srv6-ctrl', 'control') }}"
          sNssaiUpfInfos:
            - sNssai:
                sst: 1
                sd: 000001
              dnnUpfInfoList:
                - dnn: srv6
                  pools:
                    - cidr: {{ ipv4_subnet('slice0') }}
                  staticPools:
                    - cidr: {{ ipv4_subnet('slice0-static') }}
          interfaces:
            - interfaceType: N3
              endpoints:
                - {{ ipv4('srgw0', 'srgw0') }}
              networkInstances:
                - srv6
#~ elif config["topology"]["dataplane"] == "free5gc"
        UPFI:
          type: UPF
          nodeID: "{{ ipv4('upfi', 'control') }}"
          addr: "{{ ipv4('upfi', 'control') }}"
          sNssaiUpfInfos:
            - sNssai:
                sst: 1
                sd: 000002
              dnnUpfInfoList:
                - dnn: free5gc
          interfaces:
            - interfaceType: N3
              endpoints:
                - {{ ipv4('upfi', 'dataplane') }}
              networkInstances:
                - free5gc
            - interfaceType: N9
              endpoints:
                - {{ ipv4('upfi', 'dataplane') }}
              networkInstances:
                - free5gc
        UPFA1:
          type: UPF
          nodeID: "{{ ipv4('upfa1', 'control') }}"
          addr: "{{ ipv4('upfa1', 'control') }}"
          sNssaiUpfInfos:
            - sNssai:
                sst: 1
                sd: 000002
              dnnUpfInfoList:
                - dnn: free5gc
                  pools:
                    - cidr: {{ ipv4_subnet('slice1-e1') }}
                  staticPools:
                    - cidr: {{ ipv4_subnet('slice1-e1-static') }}
          interfaces:
            - interfaceType: N9
              endpoints:
                - {{ ipv4('upfa1', 'dataplane') }}
              networkInstances:
                - free5gc
  #~ if config["topology"]["nb_edges"] > 1
        UPFA2:
          type: UPF
          nodeID: "{{ ipv4('upfa2', 'control') }}"
          addr: "{{ ipv4('upfa2', 'control') }}"
          sNssaiUpfInfos:
            - sNssai:
                sst: 1
                sd: 000002
              dnnUpfInfoList:
                - dnn: free5gc
                  pools:
                    - cidr: {{ ipv4_subnet('slice1-e2') }}
                  staticPools:
                    - cidr: {{ ipv4_subnet('slice1-e2-static') }}
          interfaces:
            - interfaceType: N9
              endpoints:
                - {{ ipv4('upfa2', 'dataplane') }}
              networkInstances:
                - free5gc
  #~ endif
#~ elif config["topology"]["dataplane"] == "nextmn-upf"
        UPFI:
          type: UPF
          nodeID: "{{ ipv4('upfi', 'control') }}"
          addr: "{{ ipv4('upfi', 'control') }}"
          sNssaiUpfInfos:
            - sNssai:
                sst: 1
                sd: 000003
              dnnUpfInfoList:
                - dnn: nextmn-upf
          interfaces:
            - interfaceType: N3
              endpoints:
                - {{ ipv4('upfi', 'dataplane') }}
              networkInstances:
                - nextmn-upf
            - interfaceType: N9
              endpoints:
                - {{ ipv4('upfi', 'dataplane') }}
              networkInstances:
                - nextmn-upf
        UPFA1:
          type: UPF
          nodeID: "{{ ipv4('upfa1', 'control') }}"
          addr: "{{ ipv4('upfa1', 'control') }}"
          sNssaiUpfInfos:
            - sNssai:
                sst: 1
                sd: 000003
              dnnUpfInfoList:
                - dnn: nextmn-upf
                  pools:
                    - cidr: {{ ipv4_subnet('slice1-e1') }}
                  staticPools:
                    - cidr: {{ ipv4_subnet('slice1-e1-static') }}
          interfaces:
            - interfaceType: N9
              endpoints:
                - {{ ipv4('upfa1', 'dataplane') }}
              networkInstances:
                - nextmn-upf
  #~ if config["topology"]["nb_edges"] > 1
        UPFA2:
          type: UPF
          nodeID: "{{ ipv4('upfa2', 'control') }}"
          addr: "{{ ipv4('upfa2', 'control') }}"
          sNssaiUpfInfos:
            - sNssai:
                sst: 1
                sd: 000003
              dnnUpfInfoList:
                - dnn: nextmn-upf
                  pools:
                    - cidr: {{ ipv4_subnet('slice1-e2') }}
                  staticPools:
                    - cidr: {{ ipv4_subnet('slice1-e2-static') }}
          interfaces:
            - interfaceType: N9
              endpoints:
                - {{ ipv4('upfa2', 'dataplane') }}
              networkInstances:
                - nextmn-upf
  #~ endif
#~ endif
      ULCL: "true"
      LINKS: |-
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
        - A: GNB
          B: UPF
#~ elif config["topology"]["dataplane"] in ("free5gc", "nextmn-upf")
        - A: GNB
          B: UPFI
        - A: UPFI
          B: UPFA1
  #~ if config["topology"]["nb_edges"] > 1
        - A: UPFI
          B: UPFA2
  #~ endif
#~ endif
      UEROUTING_INFO: |-
        none1:
          members:
            - imsi-001010000000001
#~ if config["topology"]["nb_ue"] > 1
            - imsi-001010000000002
#~ endif
          topology:
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
            - A: GNB
              B: UPF
#~ elif config["topology"]["dataplane"] in ("free5gc", "nextmn-upf")
            - A: GNB
              B: UPFI
            - A: UPFI
              B: UPFA1
  #~ if config["topology"]["nb_edges"] > 1
            - A: UPFI
              B: UPFA2
          specificPath:
            - dest: 10.4.0.1/32
              path: [UPFI, UPFA1]
  #~ endif
#~ endif
    secrets:
      {{ openssl_secrets_pem_s('nrf', 'sbi') | indent(2) }}
      {{ openssl_secrets_s('smf', 'sbi') | indent(2) }}
    networks:
      control:
        ipv4_address: "{{ ipv4('smf', 'control') }}"
      sbi:
        ipv4_address: "{{ ipv4('smf', 'sbi') }}"

  {{ container_s(name='populate', image='louisroyer/free5gc-populate', restart='no') }}
    depends_on:
      mongodb: # required to being able to deregister propertly
        condition: service_started
    environment:
      MONGO_HOST: "mongodb.db"
      SLICES: |-
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
        - sst: 1
          sd: 000001
          varqi: 9
          dnn: srv6
#~ elif config["topology"]["dataplane"] == "free5gc"
        - sst: 1
          sd: 000002
          varqi: 9
          dnn: free5gc
#~ elif config["topology"]["dataplane"] == "nextmn-upf"
        - sst: 1
          sd: 000003
          varqi: 9
          dnn: nextmn-upf
#~ endif
      IMSI: |-
        - imsi-001010000000001
#~ if config["topology"]["nb_ue"] > 1
        - imsi-001010000000002
#~ endif
    networks:
      db:

  {{ container_s(name='nssf', image='louisroyer/dev-free5gc-nssf', restart='always') }}
    depends_on:
      nrf: # required to being able to deregister propertly
        condition: service_started
    environment:
      SBI_REGISTER_IP: "nssf.sbi"
      SBI_BINDING_IP: "{{ ipv4('nssf', 'sbi') }}"
      SBI_BINDING_PORT: "8000"
      NRF: "nrf.sbi:8000"
      NRF_PEM: "{{ openssl_secret_pem('nrf', 'sbi') }}"
      NSSF_PEM: "{{ openssl_secret_pem('nssf', 'sbi') }}"
      NSSF_KEY: "{{ openssl_secret_key('nssf', 'sbi') }}"
      MCC: "001"
      MNC: "01"
      NSSF_NAME: "NSSF"
      SUPPORTED_NSSAI_IN_PLMN_LIST: |-
        - plmnId:
            mcc: 001
            mnc: 01
          supportedSnssaiList:
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
            - sst: 1
              sd: 000001
#~ elif config["topology"]["dataplane"] == "free5gc"
            - sst: 1
              sd: 000002
#~ elif config["topology"]["dataplane"] == "nextmn-upf"
            - sst: 1
              sd: 000003
#~ endif
      NSI_LIST: |-
        - snssai:
            sst: 1
          nsiInformationList:
            - nrfId: http://nrf.sbi:8000/nnrf-nfm/v1/nf-instances
              nsiId: 10
      AMF_SET_LIST: |-
        - amfSetId: 1
          amfList:
            - ffa2e8d7-3275-49c7-8631-6af1df1d9d26
          nrfAmfSet: http://nrf.sbi:8000/nnrf-nfm/v1/nf-instances
          supportedNssaiAvailabilityData:
            - tai:
                plmnId:
                  mcc: 001
                  mnc: 01
                tac: 0000001
              supportedSnssaiList:
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
                - sst: 1
                  sd: 000001
#~ elif config["topology"]["dataplane"] == "free5gc"
                - sst: 1
                  sd: 000002
#~ elif config["topology"]["dataplane"] == "nextmn-upf"
                - sst: 1
                  sd: 000003
#~ endif
      AMF_LIST: |-
        - nfId: 469de254-2fe5-4ca0-8381-af3f500af77c
          supportedNssaiAvailabilityData:
            - tai:
                plmnId:
                  mcc: 001
                  mnc: 01
                tac: 000001
              supportedSnssaiList:
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
                - sst: 1
                  sd: 000001
#~ elif config["topology"]["dataplane"] == "free5gc"
                - sst: 1
                  sd: 000002
#~ elif config["topology"]["dataplane"] == "nextmn-upf"
                - sst: 1
                  sd: 000003
#~ endif

      TA_LIST: |-
        - tai:
            plmnId:
              mcc: 001
              mnc: 01
            tac: 000001
          accessType: 3GPP_ACCESS
          supportedSnssaiList:
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
            - sst: 1
              sd: 000001
#~ elif config["topology"]["dataplane"] == "free5gc"
            - sst: 1
              sd: 000002
#~ elif config["topology"]["dataplane"] == "nextmn-upf"
            - sst: 1
              sd: 000003
#~ endif

      MAPPING_LIST_FROM_PLMN: |-
        - operatorName: dummyoperator
          homePlmnId:
            mcc: 001
            mnc: 02
          mappingOfSnssai:
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
            - servingSnssai:
                sst: 1
                sd: 00001
              homeSnssai:
                sst: 1
                sd: 00001
#~ elif config["topology"]["dataplane"] == "free5gc"
            - servingSnssai:
                sst: 1
                sd: 00002
              homeSnssai:
                sst: 1
                sd: 00002
#~ elif config["topology"]["dataplane"] == "nextmn-upf"
            - servingSnssai:
                sst: 1
                sd: 00003
              homeSnssai:
                sst: 1
                sd: 00003
#~ endif
    secrets:
      {{ openssl_secrets_pem_s('nrf', 'sbi') | indent(2) }}
      {{ openssl_secrets_s('nssf', 'sbi') | indent(2) }}
    networks:
      sbi:
        ipv4_address: "{{ ipv4('nssf', 'sbi') }}"

#~ if config["topology"]["dataplane"] == "nextmn-srv6"
  {{ container_s(name='r0', image='louisroyer/dev-nextmn-srv6', restart='always', srv6=True, debug=True) }}
    depends_on:
      srv6-ctrl:
        condition: service_started
      r0-db:
        condition: service_healthy
    volumes:
      {{ volume_ro('nextmn/routes-to-nei.sh', '/usr/local/bin/routes-to-nei.sh') }}
    environment:
      LOG_LEVEL: "debug"
      NEI_ADDR: "{{ ipv6_subnet('r1') }} {{ ipv6_subnet('rr') }} {{ ipv6_subnet('srgw0') }} {{ ipv4('s', 'service') }}"
      NEI_NH: "{{ ipv6('r1', 'dataplane') }} {{ ipv6('rr', 'dataplane') }} {{ ipv6('srgw0', 'dataplane') }} {{ ipv4('s0', 'edge') }}"
      HOOKS: |-
        pre-init-hook: remove-default-routes.sh
        post-init-hook: routes-to-nei.sh
      HTTP_ADDRESS: "{{ ipv6('r0', 'control') }}"
      HTTP_PORT: "8080"
      CONTROLLER_URI: "http://[{{ ipv6('srv6-ctrl', 'control') }}]:8080"
      BACKBONE_IP: "{{ ipv6('r0', 'dataplane') }}"
      LOCATOR: "{{ ipv6_subnet('r0') }}"
      ENDPOINTS: |-
        - prefix: "{{ ipv6_prefix('end-dx4', 'r0') }}"
          provider: "Linux"
          behavior: "End.DX4"
      LINUX_HEADEND_SET_SOURCE_ADDRESS: "{{ ipv6('end-dx4', 'r0') }}"
      IPV4_HEADEND_PREFIX: "{{ ipv4_subnet('slice0') }}"
      HEADENDS: |-
        - name: "downlink (controlled)"
          to: "{{ ipv4_subnet('slice0') }}"
          provider: "NextMN-ctrl"
          behavior: "H.Encaps"
      POSTGRES_PASSWORD_FILE: /run/secrets/r0_db_password
      POSTGRES_HOST: "r0-db.nextmndb"
    secrets:
      - r0_db_password
    networks:
      control:
        ipv6_address: "{{ ipv6('r0', 'control') }}"
      dataplane:
        ipv6_address: "{{ ipv6('r0', 'dataplane') }}"
      edge:
        ipv4_address: "{{ ipv4('r0', 'edge') }}"
      nextmndb:

  {{ container_s(name='r0-db', image='postgres', restart='always', command=False) }}
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-d", "postgres"]
      start_interval: 1s
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 5
    secrets:
      - r0_db_password
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/r0_db_password
    networks:
      nextmndb:

  {{ container_s(name='r1', image='louisroyer/dev-nextmn-srv6', restart='always', srv6=True, debug=True ) }}
    depends_on:
      srv6-ctrl:
        condition: service_started
      r1-db:
        condition: service_healthy
    volumes:
      {{ volume_ro('nextmn/routes-to-nei.sh', '/usr/local/bin/routes-to-nei.sh') }}
    environment:
      LOG_LEVEL: "debug"
      NEI_ADDR: "{{ ipv6_subnet('r0') }} {{ ipv6_subnet('rr') }} {{ ipv6_subnet('srgw0') }} {{ ipv4('s', 'service') }}"
      NEI_NH: "{{ ipv6('r0', 'dataplane') }} {{ ipv6('rr', 'dataplane') }} {{ ipv6('srgw0', 'dataplane') }} {{ ipv4('s1', 'edge') }}"
      HOOKS: |-
        pre-init-hook: remove-default-routes.sh
        post-init-hook: routes-to-nei.sh
      HTTP_ADDRESS: "{{ ipv6('r1', 'control') }}"
      HTTP_PORT: "8080"
      CONTROLLER_URI: "http://[{{ ipv6('srv6-ctrl', 'control') }}]:8080"
      BACKBONE_IP: "{{ ipv6('r1', 'dataplane') }}"
      LOCATOR: "{{ ipv6_subnet('r1') }}"
      ENDPOINTS: |-
        - prefix: "{{ ipv6_prefix('end-dx4', 'r1') }}"
          provider: "Linux"
          behavior: "End.DX4"
      LINUX_HEADEND_SET_SOURCE_ADDRESS: "{{ ipv6('end-dx4', 'r1') }}"
      IPV4_HEADEND_PREFIX: "{{ ipv4_subnet('slice0') }}"
      HEADENDS: |-
        - name: "downlink (controlled)"
          to: "{{ ipv4_subnet('slice0') }}"
          provider: "NextMN-ctrl"
          behavior: "H.Encaps"
      POSTGRES_PASSWORD_FILE: /run/secrets/r1_db_password
      POSTGRES_HOST: "r1-db.nextmndb"
    secrets:
      - r1_db_password
    networks:
      control:
        ipv6_address: "{{ ipv6('r1', 'control') }}"
      dataplane:
        ipv6_address: "{{ ipv6('r1', 'dataplane') }}"
      edge:
        ipv4_address: "{{ ipv4('r1', 'edge') }}"
      nextmndb:

  {{ container_s(name='r1-db', image='postgres', restart='always', command=False) }}
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-d", "postgres"]
      start_interval: 1s
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 5
    secrets:
      - r1_db_password
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/r1_db_password
    networks:
      nextmndb:

  {{ container_s(name='rr', image='louisroyer/dev-nextmn-srv6', restart='always', srv6=True, debug=True ) }}
    depends_on:
      srv6-ctrl:
        condition: service_started
      rr-db:
        condition: service_healthy
    volumes:
      {{ volume_ro('nextmn/routes-to-nei.sh', '/usr/local/bin/routes-to-nei.sh') }}
    environment:
      LOG_LEVEL: "debug"
      NEI_ADDR: "{{ ipv6_subnet('r0') }} {{ ipv6_subnet('r1') }} {{ ipv6_subnet('srgw0') }}"
      NEI_NH: "{{ ipv6('r0', 'dataplane') }} {{ ipv6('r1', 'dataplane') }} {{ ipv6('srgw0', 'dataplane') }}"
      HOOKS: |-
        pre-init-hook: remove-default-routes.sh
        post-init-hook: routes-to-nei.sh
      HTTP_ADDRESS: "{{ ipv6('rr', 'control') }}"
      HTTP_PORT: "8080"
      CONTROLLER_URI: "http://[{{ ipv6('srv6-ctrl', 'control') }}]:8080"
      BACKBONE_IP: "{{ ipv6('rr', 'dataplane') }}"
      LOCATOR: "{{ ipv6_subnet('rr') }}"
      ENDPOINTS: |-
        - prefix: "{{ ipv6_prefix('end', 'rr') }}"
          provider: "Linux"
          behavior: "End"
      POSTGRES_PASSWORD_FILE: /run/secrets/rr_db_password
      POSTGRES_HOST: "rr-db.nextmndb"
    secrets:
      - rr_db_password
    networks:
      control:
        ipv6_address: "{{ ipv6('rr', 'control') }}"
      dataplane:
        ipv6_address: "{{ ipv6('rr', 'dataplane') }}"
      nextmndb:

  {{ container_s(name='rr-db', image='postgres', restart='always', command=False) }}
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-d", "postgres"]
      start_interval: 1s
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 5
    secrets:
      - rr_db_password
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/rr_db_password
    networks:
      nextmndb:

  {{ container_s(name='srgw0', image='louisroyer/dev-nextmn-srv6', restart='always', srv6=True, debug=True ) }}
    depends_on:
      srv6-ctrl:
        condition: service_started
      srgw0-db:
        condition: service_healthy
    volumes:
      {{ volume_ro('nextmn/routes-to-nei.sh', '/usr/local/bin/routes-to-nei.sh') }}
    environment:
      LOG_LEVEL: "debug"
      NEI_ADDR: "{{ ipv6_subnet('r0') }} {{ ipv6_subnet('r1') }} {{ ipv6_subnet('rr') }}"
      NEI_NH: "{{ ipv6('r0', 'dataplane') }} {{ ipv6('r1', 'dataplane') }} {{ ipv6('rr', 'dataplane') }}"
      HOOKS: |-
        pre-init-hook: remove-default-routes.sh
        post-init-hook: routes-to-nei.sh
      HTTP_ADDRESS: "{{ ipv6('srgw0', 'control') }}"
      HTTP_PORT: "8080"
      CONTROLLER_URI: "http://[{{ ipv6('srv6-ctrl', 'control') }}]:8080"
      BACKBONE_IP: "{{ ipv6('srgw0', 'dataplane') }}"
      LOCATOR: "{{ ipv6_subnet('srgw0') }}"
      GTP4_HEADEND_PREFIX: "{{ ipv4('srgw0', 'srgw0') }}/32"
      HEADENDS: |-
        - name: "srgw0 uplink (controlled)"
          to: "{{ ipv4('srgw0', 'srgw0') }}/32"
          provider: "NextMN-Ctrl"
          behavior: "H.M.GTP4.D"
      ENDPOINTS: |-
        - prefix: "{{ ipv6_prefix('end-m-gtp4-e', 'srgw0') }}"
          provider: "NextMN"
          behavior: "End.M.GTP4.E"
      POSTGRES_PASSWORD_FILE: /run/secrets/srgw0_db_password
      POSTGRES_HOST: "srgw0-db.nextmndb"
    secrets:
      - srgw0_db_password
    networks:
      control:
        ipv4_address: "{{ ipv4('srgw0', 'control') }}"
        ipv6_address: "{{ ipv6('srgw0', 'control') }}"
      dataplane:
        ipv4_address: "{{ ipv4('srgw0', 'dataplane') }}"
        ipv6_address: "{{ ipv6('srgw0', 'dataplane') }}"
      nextmndb:

  {{ container_s(name='srgw0-db', image='postgres', restart='always', command=False) }}
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-d", "postgres"]
      start_interval: 1s
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 5
    secrets:
      - srgw0_db_password
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/srgw0_db_password
    networks:
      nextmndb:

  {{ container_s(name='srv6-ctrl', image='louisroyer/dev-nextmn-srv6-ctrl', restart='always') }}
    environment:
      N4: "{{ ipv4('srv6-ctrl', 'control') }}"
      HTTP_ADDRESS: "{{ ipv6('srv6-ctrl', 'control') }}"
      HTTP_PORT: "8080"
      LOG_LEVEL: "debug"
    networks:
      control:
        ipv4_address: "{{ ipv4('srv6-ctrl', 'control') }}"
        ipv6_address: "{{ ipv6('srv6-ctrl', 'control') }}"
#~ endif

  {{ container_setup_s(name='s0') }}
    environment:
      ONESHOT: "true"
      ROUTES_INIT: |-
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
        - add {{ ipv4_subnet('slice0') }} via {{ ipv4('r0', 'edge') }}
#~ elif config["topology"]["dataplane"] in ("free5gc", "nextmn-upf")
        - add {{ ipv4_subnet('slice1') }} via {{ ipv4('upfa1', 'edge') }}
#~ endif
      PRE_INIT_HOOK: "ip"
      PRE_INIT_HOOK_0: "addr"
      PRE_INIT_HOOK_1: "add"
      PRE_INIT_HOOK_2: "{{ ipv4('s', 'service') }}"
      PRE_INIT_HOOK_3: "dev"
      PRE_INIT_HOOK_4: "edge-0"
  {{ container_s(name='s0', image='nginx', command=False, debug=True) }}
    volumes:
      {{ volume_ro('nginx/instance.conf.template', '/etc/nginx/templates/instance.conf.template') }}
    environment:
      NGINX_PORT: "80"
      NGINX_SERVICE_ID: "{{ ipv4('s', 'service') }}"
      NGINX_INSTANCE_ID: "{{ ipv4('s0', 'edge') }}"
    networks:
      edge:
        ipv4_address: "{{ ipv4('s0', 'edge') }}"

  {{ container_setup_s(name='s1') }}
    environment:
      ONESHOT: "true"
      ROUTES_INIT: |-
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
        - add {{ ipv4_subnet('slice0') }} via {{ ipv4('r1', 'edge') }}
#~ elif config["topology"]["dataplane"] in ("free5gc", "nextmn-upf")
        - add {{ ipv4_subnet('slice1') }} via {{ ipv4('upfa2', 'edge') }}
#~ endif
      PRE_INIT_HOOK: "ip"
      PRE_INIT_HOOK_0: "addr"
      PRE_INIT_HOOK_1: "add"
      PRE_INIT_HOOK_2: "{{ ipv4('s', 'service') }}"
      PRE_INIT_HOOK_3: "dev"
      PRE_INIT_HOOK_4: "edge-0"
  {{ container_s(name='s1', image='nginx', command=False, debug=True) }}
    volumes:
      {{ volume_ro('nginx/instance.conf.template', '/etc/nginx/templates/instance.conf.template') }}
    environment:
      NGINX_PORT: "80"
      NGINX_SERVICE_ID: "{{ ipv4('s', 'service') }}"
      NGINX_INSTANCE_ID: "{{ ipv4('s1', 'edge') }}"
    networks:
      edge:
        ipv4_address: "{{ ipv4('s1', 'edge') }}"

#~ if config["topology"]["dataplane"] == "free5gc"
  {{ container_s(name='upfi', image='louisroyer/dev-free5gc-upf', restart='always', cap_net_admin=True, debug=True) }}
    environment:
      N4: "{{ ipv4('upfi', 'control') }}"
      IF_LIST: |-
        - addr: "{{ ipv4('upfi', 'dataplane') }}"
          type: N3
        - addr: "{{ ipv4('upfi', 'dataplane') }}"
          type: N9
      DNN_LIST: |-
        - dnn: free5gc
          cidr: {{ ipv4_subnet('slice1') }}
    networks:
      control:
        ipv4_address: "{{ ipv4('upfi', 'control') }}"
      dataplane:
        ipv4_address: "{{ ipv4('upfi', 'dataplane') }}"
  {{ container_s(name='upfa1', image='louisroyer/dev-free5gc-upf', restart='always', cap_net_admin=True, debug=True) }}
    environment:
      N4: "{{ ipv4('upfa1', 'control') }}"
      IF_LIST: |-
        - addr: "{{ ipv4('upfa1', 'dataplane') }}"
          type: N9
      DNN_LIST: |-
        - dnn: free5gc
          cidr: {{ ipv4_subnet('slice1') }}
      ROUTES_INIT: |-
        - add {{ ipv4('s', 'service') }} via {{ ipv4('s0', 'edge') }}
    networks:
      control:
        ipv4_address: "{{ ipv4('upfa1', 'control') }}"
      dataplane:
        ipv4_address: "{{ ipv4('upfa1', 'dataplane') }}"
      edge:
        ipv4_address: "{{ ipv4('upfa1', 'edge') }}"
  #~ if config["topology"]["nb_edges"] > 1
  {{ container_s(name='upfa2', image='louisroyer/dev-free5gc-upf', restart='always', cap_net_admin=True, debug=True) }}
    environment:
      N4: "{{ ipv4('upfa2', 'control') }}"
      IF_LIST: |-
        - addr: "{{ ipv4('upfa2', 'dataplane') }}"
          type: N9
      DNN_LIST: |-
        - dnn: free5gc
          cidr: {{ ipv4_subnet('slice1') }}
      ROUTES_INIT: |-
        - add {{ ipv4('s', 'service') }} via {{ ipv4('s1', 'edge') }}
    networks:
      control:
        ipv4_address: "{{ ipv4('upfa2', 'control') }}"
      dataplane:
        ipv4_address: "{{ ipv4('upfa2', 'dataplane') }}"
      edge:
        ipv4_address: "{{ ipv4('upfa2', 'edge') }}"
  #~ endif
#~ endif

#~ if config["topology"]["dataplane"] == "nextmn-upf"
  {{ container_s(name='upfi', image='louisroyer/dev-nextmn-upf', restart='always', iface_tun=True, ipv4_forward=True, cap_net_admin=True, debug=True) }}
    environment:
      N4: "{{ ipv4('upfi', 'control') }}"
      IF_LIST: |-
        - addr: "{{ ipv4('upfi', 'dataplane') }}"
          type: N3
        - addr: "{{ ipv4('upfi', 'dataplane') }}"
          type: N9
      DNN_LIST: |-
        - dnn: nextmn-upf
          cidr: {{ ipv4_subnet('slice1') }}
    networks:
      control:
        ipv4_address: "{{ ipv4('upfi', 'control') }}"
      dataplane:
        ipv4_address: "{{ ipv4('upfi', 'dataplane') }}"
  {{ container_s(name='upfa1', image='louisroyer/dev-nextmn-upf', restart='always', iface_tun=True, ipv4_forward=True, cap_net_admin=True, debug=True) }}
    environment:
      N4: "{{ ipv4('upfa1', 'control') }}"
      IF_LIST: |-
        - addr: "{{ ipv4('upfa1', 'dataplane') }}"
          type: N9
      DNN_LIST: |-
        - dnn: nextmn-upf
          cidr: {{ ipv4_subnet('slice1') }}
      ROUTES_INIT: |-
        - add {{ ipv4('s', 'service') }} via {{ ipv4('s0', 'edge') }}
    networks:
      control:
        ipv4_address: "{{ ipv4('upfa1', 'control') }}"
      dataplane:
        ipv4_address: "{{ ipv4('upfa1', 'dataplane') }}"
      edge:
        ipv4_address: "{{ ipv4('upfa1', 'edge') }}"
  #~ if config["topology"]["nb_edges"] > 1
  {{ container_s(name='upfa2', image='louisroyer/dev-nextmn-upf', restart='always', iface_tun=True, ipv4_forward=True, cap_net_admin=True, debug=True) }}
    environment:
      N4: "{{ ipv4('upfa2', 'control') }}"
      IF_LIST: |-
        - addr: "{{ ipv4('upfa2', 'dataplane') }}"
          type: N9
      DNN_LIST: |-
        - dnn: nextmn-upf
          cidr: {{ ipv4_subnet('slice1') }}
      ROUTES_INIT: |-
        - add {{ ipv4('s', 'service') }} via {{ ipv4('s1', 'edge') }}
    networks:
      control:
        ipv4_address: "{{ ipv4('upfa2', 'control') }}"
      dataplane:
        ipv4_address: "{{ ipv4('upfa2', 'dataplane') }}"
      edge:
        ipv4_address: "{{ ipv4('upfa2', 'edge') }}"
  #~ endif
#~ endif
secrets:
  {{ openssl_s('amf', 'sbi') }}
  {{ openssl_s('ausf', 'sbi') }}
  {{ openssl_s('chf', 'sbi') }}
  {{ openssl_s('nrf', 'sbi') }}
  {{ openssl_s('nssf', 'sbi') }}
  {{ openssl_s('pcf', 'sbi') }}
  {{ openssl_s('smf', 'sbi') }}
  {{ openssl_s('udm', 'sbi') }}
  {{ openssl_s('udr', 'sbi') }}
#~ if config["topology"]["dataplane"] == "nextmn-srv6"
  rr_db_password:
    file: "{{ secret('rr_db_password.txt') }}"
  r0_db_password:
    file: "{{ secret('r0_db_password.txt') }}"
  r1_db_password:
    file: "{{ secret('r1_db_password.txt') }}"
  srgw0_db_password:
    file: "{{ secret('srgw0_db_password.txt') }}"
#~ endif

networks:
  ran:
    name: ran
    enable_ipv6: true
    driver: bridge
    driver_opts:
      com.docker.network.container_iface_prefix: ran-
      com.docker.network.bridge.name: ran
    ipam:
      driver: default
      config:
        - subnet: 10.1.0.0/24
          ip_range: 10.1.0.0/25
          gateway: 10.1.0.254
        - subnet: fd00:0:0:0:1::/80
          ip_range: fd00:0:0:0:1::/81
          gateway: fd00::1:8000:0:1
  sbi:
    name: sbi
    enable_ipv6: false
    driver: bridge
    driver_opts:
      com.docker.network.container_iface_prefix: sbi-
      com.docker.network.bridge.name: sbi
    ipam:
      driver: default
      config:
        - subnet: 10.1.1.0/24
          ip_range: 10.1.1.0/25
          gateway: 10.1.1.254
  db:
    name: db
    enable_ipv6: false
    driver: bridge
    driver_opts:
      com.docker.network.container_iface_prefix: db-
      com.docker.network.bridge.name: db
    ipam:
      driver: default
      config:
        - subnet: 10.1.2.0/24
          ip_range: 10.1.2.0/25
          gateway: 10.1.2.254
  control:
    name: control
    enable_ipv6: true
    driver: bridge
    driver_opts:
      com.docker.network.container_iface_prefix: control-
      com.docker.network.bridge.name: control
    ipam:
      driver: default
      config:
        - subnet: 10.1.3.0/24
          ip_range: 10.1.3.0/25
          gateway: 10.1.3.254
        - subnet: fd00:0:0:0:2::/80
          ip_range: fd00:0:0:0:2::/81
          gateway: fd00::2:8000:0:1
  dataplane:
    name: dataplane
    enable_ipv6: true
    driver: bridge
    driver_opts:
      com.docker.network.container_iface_prefix: dataplane-
      com.docker.network.bridge.name: dataplane
    ipam:
      driver: default
      config:
        - subnet: 10.1.4.0/24
          ip_range: 10.1.4.0/25
          gateway: 10.1.4.254
        - subnet: fd00:0:0:0:3::/80
          ip_range: fd00:0:0:0:3::/81
          gateway: fd00::3:8000:0:1
  edge:
    name: edge
    enable_ipv6: false
    driver: bridge
    driver_opts:
      com.docker.network.container_iface_prefix: edge-
      com.docker.network.bridge.name: edge
    ipam:
      driver: default
      config:
        - subnet: 10.1.5.0/24
          ip_range: 10.1.5.0/25
          gateway: 10.1.5.254
  nextmndb:
    name: nextmndb
    enable_ipv6: false
    driver: bridge
    driver_opts:
      com.docker.network.container_iface_prefix: nmndb-
      com.docker.network.bridge.name: nmndb
    ipam:
      driver: default
      config:
        - subnet: 10.1.6.0/24
          ip_range: 10.1.6.0/25
          gateway: 10.1.6.254
        - subnet: fd00:0:0:0:4::/80
          ip_range: fd00:0:0:0:4::/81
          gateway: fd00::4:8000:0:1
